body {
    margin: 0;
    background-image: url("../images/denim.jpg");
    background-repeat: repeat-x;
}
table, th, td {
    margin: 0 auto;
    color: grey;
    font-size: 20px;
    border-collapse: collapse;
    border-style: solid;
    border-color: darkgrey;
    border-width: 0 1px 3px 0;
    padding: 15px;
}
th {
    background: #00ff0050;
    color: white;
}
td.marked {
    background: white;
    color: blue;
}