html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
div, header, aside, footer {
    box-sizing: border-box;
    border: solid white 5px;
}
.short {
    height: 100px;
}
.left {
    float: left;
}